BachMaiCR.Web/Service References/ServiceSMSBrandName/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://lachongmedia.vn/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://lachongmedia.vn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://lachongmedia.vn/">
      <s:element name="SendMT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="brandname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BlockId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMTResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenBlock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="brandname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenBlockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OpenBlockResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseBlock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="brandname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BlockId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseBlockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CloseBlockResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBlockStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="brandname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BlockId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBlockStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBlockStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckMTStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="brandname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckMTStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckMTStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="brandname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBalanceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMTSingle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="brandname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMTSingleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMTSingleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMTSoapIn">
    <wsdl:part name="parameters" element="tns:SendMT" />
  </wsdl:message>
  <wsdl:message name="SendMTSoapOut">
    <wsdl:part name="parameters" element="tns:SendMTResponse" />
  </wsdl:message>
  <wsdl:message name="OpenBlockSoapIn">
    <wsdl:part name="parameters" element="tns:OpenBlock" />
  </wsdl:message>
  <wsdl:message name="OpenBlockSoapOut">
    <wsdl:part name="parameters" element="tns:OpenBlockResponse" />
  </wsdl:message>
  <wsdl:message name="CloseBlockSoapIn">
    <wsdl:part name="parameters" element="tns:CloseBlock" />
  </wsdl:message>
  <wsdl:message name="CloseBlockSoapOut">
    <wsdl:part name="parameters" element="tns:CloseBlockResponse" />
  </wsdl:message>
  <wsdl:message name="GetBlockStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetBlockStatus" />
  </wsdl:message>
  <wsdl:message name="GetBlockStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetBlockStatusResponse" />
  </wsdl:message>
  <wsdl:message name="CheckMTStatusSoapIn">
    <wsdl:part name="parameters" element="tns:CheckMTStatus" />
  </wsdl:message>
  <wsdl:message name="CheckMTStatusSoapOut">
    <wsdl:part name="parameters" element="tns:CheckMTStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetBalance" />
  </wsdl:message>
  <wsdl:message name="GetBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="SendMTSingleSoapIn">
    <wsdl:part name="parameters" element="tns:SendMTSingle" />
  </wsdl:message>
  <wsdl:message name="SendMTSingleSoapOut">
    <wsdl:part name="parameters" element="tns:SendMTSingleResponse" />
  </wsdl:message>
  <wsdl:message name="SendMTHttpGetIn">
    <wsdl:part name="brandname" type="s:string" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="phone" type="s:string" />
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="BlockId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMTHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="OpenBlockHttpGetIn">
    <wsdl:part name="brandname" type="s:string" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="OpenBlockHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CloseBlockHttpGetIn">
    <wsdl:part name="brandname" type="s:string" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="BlockId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CloseBlockHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBlockStatusHttpGetIn">
    <wsdl:part name="brandname" type="s:string" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="BlockId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBlockStatusHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckMTStatusHttpGetIn">
    <wsdl:part name="brandname" type="s:string" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="smsid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckMTStatusHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBalanceHttpGetIn">
    <wsdl:part name="brandname" type="s:string" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBalanceHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendMTSingleHttpGetIn">
    <wsdl:part name="brandname" type="s:string" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="phone" type="s:string" />
    <wsdl:part name="message" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMTSingleHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendMTHttpPostIn">
    <wsdl:part name="brandname" type="s:string" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="phone" type="s:string" />
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="BlockId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMTHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="OpenBlockHttpPostIn">
    <wsdl:part name="brandname" type="s:string" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="OpenBlockHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CloseBlockHttpPostIn">
    <wsdl:part name="brandname" type="s:string" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="BlockId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CloseBlockHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBlockStatusHttpPostIn">
    <wsdl:part name="brandname" type="s:string" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="BlockId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBlockStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckMTStatusHttpPostIn">
    <wsdl:part name="brandname" type="s:string" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="smsid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckMTStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBalanceHttpPostIn">
    <wsdl:part name="brandname" type="s:string" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBalanceHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendMTSingleHttpPostIn">
    <wsdl:part name="brandname" type="s:string" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="phone" type="s:string" />
    <wsdl:part name="message" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMTSingleHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="SendMT">
      <wsdl:input message="tns:SendMTSoapIn" />
      <wsdl:output message="tns:SendMTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OpenBlock">
      <wsdl:input message="tns:OpenBlockSoapIn" />
      <wsdl:output message="tns:OpenBlockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CloseBlock">
      <wsdl:input message="tns:CloseBlockSoapIn" />
      <wsdl:output message="tns:CloseBlockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBlockStatus">
      <wsdl:input message="tns:GetBlockStatusSoapIn" />
      <wsdl:output message="tns:GetBlockStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckMTStatus">
      <wsdl:input message="tns:CheckMTStatusSoapIn" />
      <wsdl:output message="tns:CheckMTStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <wsdl:input message="tns:GetBalanceSoapIn" />
      <wsdl:output message="tns:GetBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMTSingle">
      <wsdl:input message="tns:SendMTSingleSoapIn" />
      <wsdl:output message="tns:SendMTSingleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="SendMT">
      <wsdl:input message="tns:SendMTHttpGetIn" />
      <wsdl:output message="tns:SendMTHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="OpenBlock">
      <wsdl:input message="tns:OpenBlockHttpGetIn" />
      <wsdl:output message="tns:OpenBlockHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CloseBlock">
      <wsdl:input message="tns:CloseBlockHttpGetIn" />
      <wsdl:output message="tns:CloseBlockHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBlockStatus">
      <wsdl:input message="tns:GetBlockStatusHttpGetIn" />
      <wsdl:output message="tns:GetBlockStatusHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckMTStatus">
      <wsdl:input message="tns:CheckMTStatusHttpGetIn" />
      <wsdl:output message="tns:CheckMTStatusHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <wsdl:input message="tns:GetBalanceHttpGetIn" />
      <wsdl:output message="tns:GetBalanceHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMTSingle">
      <wsdl:input message="tns:SendMTSingleHttpGetIn" />
      <wsdl:output message="tns:SendMTSingleHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="SendMT">
      <wsdl:input message="tns:SendMTHttpPostIn" />
      <wsdl:output message="tns:SendMTHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="OpenBlock">
      <wsdl:input message="tns:OpenBlockHttpPostIn" />
      <wsdl:output message="tns:OpenBlockHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CloseBlock">
      <wsdl:input message="tns:CloseBlockHttpPostIn" />
      <wsdl:output message="tns:CloseBlockHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBlockStatus">
      <wsdl:input message="tns:GetBlockStatusHttpPostIn" />
      <wsdl:output message="tns:GetBlockStatusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckMTStatus">
      <wsdl:input message="tns:CheckMTStatusHttpPostIn" />
      <wsdl:output message="tns:CheckMTStatusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <wsdl:input message="tns:GetBalanceHttpPostIn" />
      <wsdl:output message="tns:GetBalanceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMTSingle">
      <wsdl:input message="tns:SendMTSingleHttpPostIn" />
      <wsdl:output message="tns:SendMTSingleHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMT">
      <soap:operation soapAction="http://lachongmedia.vn/SendMT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenBlock">
      <soap:operation soapAction="http://lachongmedia.vn/OpenBlock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseBlock">
      <soap:operation soapAction="http://lachongmedia.vn/CloseBlock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlockStatus">
      <soap:operation soapAction="http://lachongmedia.vn/GetBlockStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckMTStatus">
      <soap:operation soapAction="http://lachongmedia.vn/CheckMTStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <soap:operation soapAction="http://lachongmedia.vn/GetBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMTSingle">
      <soap:operation soapAction="http://lachongmedia.vn/SendMTSingle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMT">
      <soap12:operation soapAction="http://lachongmedia.vn/SendMT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenBlock">
      <soap12:operation soapAction="http://lachongmedia.vn/OpenBlock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseBlock">
      <soap12:operation soapAction="http://lachongmedia.vn/CloseBlock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlockStatus">
      <soap12:operation soapAction="http://lachongmedia.vn/GetBlockStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckMTStatus">
      <soap12:operation soapAction="http://lachongmedia.vn/CheckMTStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <soap12:operation soapAction="http://lachongmedia.vn/GetBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMTSingle">
      <soap12:operation soapAction="http://lachongmedia.vn/SendMTSingle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SendMT">
      <http:operation location="/SendMT" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenBlock">
      <http:operation location="/OpenBlock" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseBlock">
      <http:operation location="/CloseBlock" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlockStatus">
      <http:operation location="/GetBlockStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckMTStatus">
      <http:operation location="/CheckMTStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <http:operation location="/GetBalance" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMTSingle">
      <http:operation location="/SendMTSingle" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SendMT">
      <http:operation location="/SendMT" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenBlock">
      <http:operation location="/OpenBlock" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseBlock">
      <http:operation location="/CloseBlock" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlockStatus">
      <http:operation location="/GetBlockStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckMTStatus">
      <http:operation location="/CheckMTStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <http:operation location="/GetBalance" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMTSingle">
      <http:operation location="/SendMTSingle" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://www.vas.lachongmedia.vn/smsbrandname/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://www.vas.lachongmedia.vn/smsbrandname/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://www.vas.lachongmedia.vn/smsbrandname/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://www.vas.lachongmedia.vn/smsbrandname/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>